* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: clamp(0.1rem, min(2vw, 3.5vh), 1.2rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: whitesmoke;
  color: black;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  /* width: 100%; */
  width: min(60%, 800px);
  background-color: mediumblue;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: clamp(0.1rem, min(2vw, 3.5vh), 0.5rem);
  letter-spacing: 2px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  letter-spacing: 2px;
  width: min(60%, 800px);
  border: 2px solid gray;
}

.footer {
  /* width: 100%; */
  width: min(60%, 800px);
  background-color: mediumblue;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: clamp(0.1rem, min(2vw, 3.5vh), 0.5rem);
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: clamp(0.1rem, min(2vw, 3.5vh), 0.5rem);
}
.item {
  background-color: #d1cbcb;
  padding: clamp(0.1rem, min(2vw, 3.5vh), 0.5rem);
  border-bottom: 2px solid whitesmoke;
  border-radius: 5px;
  transition: all 0.2s ease;
  outline: none;
}

input[type='checkbox'] {
  /* tobe changed later transfor scale*/
  transform: scale(2);
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 1%;
  accent-color: blue;

}

ul li {
  display: flex;
  align-items: center;
}

ul li label {
  flex-grow: 1;
  margin-left: 2%;
  text-transform: capitalize;
}

svg:focus, svg:hover {
  transition: all 0.2s ease;
  color: red;
  cursor: pointer;
  outline: none;
  border: none;
}

ul li:focus, ul li:hover {
  background-color: #d1cbcbb4;
}

/* Add Items */

.addItems {
  width: min(60%, 800px);
  height: min(80px, 45px);
  display: flex;
  justify-content: center;
  border: 2px solid gray;
  align-items: center;
}
.addItems label {
  position: absolute;
  left: -100000px;
}

.addItems input[type='text']{
  flex-grow: 1;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: clamp(1rem, max(2.5vw, 3.5vh), 2rem); 
  color: #333;
  font-size: clamp(0.1rem, min(2.5vw, 3.5vh), 1rem); 
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: clamp(0.1px, min(2.5vw, 3.5vh), 5px);
}

.addItems button {
  margin-left: clamp(0.1px, min(2.5vw, 3.5vh), 5px);
  margin-right: clamp(0.1px, min(2.5vw, 3.5vh), 5px);
  background-color: none;
  border: none;
  outline: none;
}

.addItems button svg {
  width: clamp(0.1px, min(2.5vw, 5vh), 50px);
  height: clamp(0.1px, min(2.5vw, 5vh), 32px);
  margin-left: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addItems button svg:focus,
.addItems button svg:hover {
  background-color: rgb(68, 226, 81);
  color: whitesmoke;
  transform: scale(1.1);
  border: none;
}

/* searchForm */

.searchForm {
  width: min(60%, 800px);
  height: min(80px, 45px);
  display: flex;
  border: 2px solid gray;
  align-items: center;
}
.searchForm label {
  position: absolute;
  left: -100000px;
}

.searchForm input[type='text']{
  flex-grow: 1;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: clamp(1rem, max(2.5vw, 3.5vh), 2rem); 
  color: #333;
  font-size: clamp(0.1rem, min(2.5vw, 3.5vh), 1rem); 
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: clamp(0.1px, min(2.5vw, 3.5vh), 5px);
}